# Determine win probabilities for each potential team pair #

## Pull in data ##

### Using the same naming conventions as the data provided by Kaggle ###

In [2]:
import graphlab as gl

In [4]:
teams = gl.SFrame.read_csv('./data/Teams.csv')

[INFO] This non-commercial license of GraphLab Create is assigned to ty.walker@gmail.com and will expire on November 24, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-125940 - Server binary: F:\Users\Ty\Anaconda\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\Ty\AppData\Local\Temp\graphlab_server_1456616543.log.0
[INFO] GraphLab Server Version: 1.8

PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\Teams.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.015997 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\Teams.csv
PROGRESS: Parsing completed. Parsed 364 lines in 0.014999 secs.

In [7]:
seasons = gl.SFrame.read_csv('./data/Seasons.csv')

PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\Seasons.csv
PROGRESS: Parsing completed. Parsed 32 lines in 0.016001 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,str,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\Seasons.csv
PROGRESS: Parsing completed. Parsed 32 lines in 0.014002 secs.

In [8]:
reg_season_compact = gl.SFrame.read_csv('./data/RegularSeasonCompactResults.csv')

PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\RegularSeasonCompactResults.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.118007 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,long,long,long,long,long,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\RegularSeasonCompactResults.csv
PROGRESS: Parsing completed. Parsed 139920 lines in 0.112007 secs.

In [9]:
tourney_compact = gl.SFrame.read_csv('./data/TourneyCompactResults.csv')

PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\TourneyCompactResults.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.016006 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,long,long,long,long,long,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\TourneyCompactResults.csv
PROGRESS: Parsing completed. Parsed 1983 lines in 0.017002 secs.

In [29]:
# Explore data using gl.canvas
gl.canvas.set_target('browser')
seasons.show()
teams.show()

Canvas is updated and available in a tab in the default browser.
Canvas is updated and available in a tab in the default browser.

In [23]:
seasons

Columns:
	Season	int
	Dayzero	str
	Regionw	str
	Regionx	str
	Regiony	str
	Regionz	str

Rows: 32

Data:
+--------+------------+---------+-----------+-----------+-----------+
| Season |  Dayzero   | Regionw |  Regionx  |  Regiony  |  Regionz  |
+--------+------------+---------+-----------+-----------+-----------+
|  1985  | 10/29/1984 |   East  |    West   |  Midwest  | Southeast |
|  1986  | 10/28/1985 |   East  |  Midwest  | Southeast |    West   |
|  1987  | 10/27/1986 |   East  | Southeast |  Midwest  |    West   |
|  1988  | 11/02/1987 |   East  |  Midwest  | Southeast |    West   |
|  1989  | 10/31/1988 |   East  |    West   |  Midwest  | Southeast |
|  1990  | 10/30/1989 |   East  |  Midwest  | Southeast |    West   |
|  1991  | 10/29/1990 |   East  | Southeast |  Midwest  |    West   |
|  1992  | 11/04/1991 |   East  |    West   |  Midwest  | Southeast |
|  1993  | 11/02/1992 |   East  |  Midwest  | Southeast |    West   |
|  1994  | 11/01/1993 |   East  | Southeast |  Midwest  |    West   |
+--------+------------+---------+-----------+-----------+-----------+
[32 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [24]:
reg_season_compact

Columns:
	Season	int
	Daynum	int
	Wteam	int
	Wscore	int
	Lteam	int
	Lscore	int
	Wloc	str
	Numot	int

Rows: 139920

Data:
+--------+--------+-------+--------+-------+--------+------+-------+
| Season | Daynum | Wteam | Wscore | Lteam | Lscore | Wloc | Numot |
+--------+--------+-------+--------+-------+--------+------+-------+
|  1985  |   20   |  1228 |   81   |  1328 |   64   |  N   |   0   |
|  1985  |   25   |  1106 |   77   |  1354 |   70   |  H   |   0   |
|  1985  |   25   |  1112 |   63   |  1223 |   56   |  H   |   0   |
|  1985  |   25   |  1165 |   70   |  1432 |   54   |  H   |   0   |
|  1985  |   25   |  1192 |   86   |  1447 |   74   |  H   |   0   |
|  1985  |   25   |  1218 |   79   |  1337 |   78   |  H   |   0   |
|  1985  |   25   |  1228 |   64   |  1226 |   44   |  N   |   0   |
|  1985  |   25   |  1242 |   58   |  1268 |   56   |  N   |   0   |
|  1985  |   25   |  1260 |   98   |  1133 |   80   |  H   |   0   |
|  1985  |   25   |  1305 |   97   |  1424 |   89   |  H   |   0   |
+--------+--------+-------+--------+-------+--------+------+-------+
[139920 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [25]:
tourney_compact

Columns:
	Season	int
	Daynum	int
	Wteam	int
	Wscore	int
	Lteam	int
	Lscore	int
	Wloc	str
	Numot	int

Rows: 1983

Data:
+--------+--------+-------+--------+-------+--------+------+-------+
| Season | Daynum | Wteam | Wscore | Lteam | Lscore | Wloc | Numot |
+--------+--------+-------+--------+-------+--------+------+-------+
|  1985  |  136   |  1116 |   63   |  1234 |   54   |  N   |   0   |
|  1985  |  136   |  1120 |   59   |  1345 |   58   |  N   |   0   |
|  1985  |  136   |  1207 |   68   |  1250 |   43   |  N   |   0   |
|  1985  |  136   |  1229 |   58   |  1425 |   55   |  N   |   0   |
|  1985  |  136   |  1242 |   49   |  1325 |   38   |  N   |   0   |
|  1985  |  136   |  1246 |   66   |  1449 |   58   |  N   |   0   |
|  1985  |  136   |  1256 |   78   |  1338 |   54   |  N   |   0   |
|  1985  |  136   |  1260 |   59   |  1233 |   58   |  N   |   0   |
|  1985  |  136   |  1314 |   76   |  1292 |   57   |  N   |   0   |
|  1985  |  136   |  1323 |   79   |  1333 |   70   |  N   |   0   |
+--------+--------+-------+--------+-------+--------+------+-------+
[1983 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
seeds = gl.SFrame.read_csv('./data/TourneySeeds.csv')

PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\TourneySeeds.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.018002 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[long,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\TourneySeeds.csv
PROGRESS: Parsing completed. Parsed 2014 lines in 0.015004 secs.

In [26]:
seeds

Columns:
	Season	int
	Seed	str
	Team	int

Rows: 2014

Data:
+--------+------+------+
| Season | Seed | Team |
+--------+------+------+
|  1985  | W01  | 1207 |
|  1985  | W02  | 1210 |
|  1985  | W03  | 1228 |
|  1985  | W04  | 1260 |
|  1985  | W05  | 1374 |
|  1985  | W06  | 1208 |
|  1985  | W07  | 1393 |
|  1985  | W08  | 1396 |
|  1985  | W09  | 1439 |
|  1985  | W10  | 1177 |
+--------+------+------+
[2014 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [30]:
sample_submission = gl.SFrame.read_csv('./data/SampleSubmission.csv')

PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\SampleSubmission.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.024001 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,float]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\users\ty\code\march-madness-kaggle\data\SampleSubmission.csv
PROGRESS: Parsing completed. Parsed 9112 lines in 0.019001 secs.

In [32]:
sample_submission.show()

Canvas is accessible via web browser at the URL: http://localhost:63432/index.html
Opening Canvas in default web browser.

In [36]:
reg_season_compact['Daynum'][reg_season_compact['Season'] == 2015].max()

132L

In [58]:
date1 = seasons[seasons['Season'] == 2015]['Dayzero'][0]

In [38]:
import datetime

In [64]:
date1

'11/03/2014'

In [66]:
date1 = datetime.datetime.strptime(date1, "%m/%d/%Y")

In [67]:
date2 = date1 + datetime.timedelta(days=132)

In [68]:
date2

datetime.datetime(2015, 3, 15, 0, 0)

In [76]:
filter_yr = [2015]
filter_daynum = [132]
reg_season_compact.filter_by(filter_yr, 'Season').filter_by(filter_daynum, 'Daynum')

Columns:
	Season	int
	Daynum	int
	Wteam	int
	Wscore	int
	Lteam	int
	Lscore	int
	Wloc	str
	Numot	int

Rows: 5

Data:
+--------+--------+-------+--------+-------+--------+------+-------+
| Season | Daynum | Wteam | Wscore | Lteam | Lscore | Wloc | Numot |
+--------+--------+-------+--------+-------+--------+------+-------+
|  2015  |  132   |  1209 |   38   |  1204 |   36   |  N   |   0   |
|  2015  |  132   |  1246 |   78   |  1116 |   63   |  N   |   0   |
|  2015  |  132   |  1374 |   62   |  1163 |   54   |  N   |   0   |
|  2015  |  132   |  1433 |   71   |  1173 |   65   |  N   |   0   |
|  2015  |  132   |  1458 |   80   |  1277 |   69   |  N   |   1   |
+--------+--------+-------+--------+-------+--------+------+-------+
[5 rows x 8 columns]

In [77]:
# It looks like the 2015-2016 regular season data has not been made available yet.